{% extends 'base.html.twig' %}
{# la vue du formulaire adresse #}

{% block title %}Ajouter une Adresse de livraison
{% endblock %}

{% block body %}
	<section class="mes-adresses-de-livraison" style="margin:15rem 10%">
		<div class="content">
			<h1 class="heading">Gérer mes adresses de livraison</h1>

			<div class="retour-votre-compte">
				<h4>
					<a href="{{ path('account_address') }}" style="text-decoration:none">Retour à votre compte</a>
				</h4>
			</div>

		</div>

		{{form_start(form)}}

		<div class="row">

			<div class="col-md-12">{{form_row(form.name)}}</div>
			<div class="col-md-6">{{form_row(form.firstname)}}</div>
			<div class="col-md-6">{{form_row(form.lastname)}}</div>
			<div class="col-md-6">{{form_row(form.company)}}</div>
			<div class="col-md-6">{{form_row(form.address)}}</div>
			<div class="col-md-6">{{form_row(form.postal)}}</div>
			<div class="col-md-6">{{form_row(form.city)}}</div>
			<div class="col-md-6">{{form_row(form.country)}}</div>
			<div class="col-md-6">{{form_row(form.phone)}}</div>

		</div>

		{{form_end(form)}}


	</section>


{% endblock %}
